@font-face {
  font-family: "Inter Variable Cords";
  src: url("@/assets/cordskit/fonts/Inter.var.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Inter Variable Cords";
  src: url("@/assets/cordskit/fonts/Inter-Italic.var.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: italic;
}
